<div lang="en" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <head >
      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/c7255d87aa.js" crossorigin="anonymous"></script>
      <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    </head>
<body >


    <div class = "header">

      <div style="margin-left: 15px;padding-top: 35px;padding-left:25px;">
        <a routerLink='' style="cursor: pointer;" >
          <i class='fas fa-home' style='cursor: pointer;font-size:30px;color:rgb(194, 106, 44)'>
          </i>
        </a>
  
      </div>
      <div class="ContactUs" > 
        <i class='fas fa-phone' style='cursor: pointer;font-size:25px;cursor: pointer;color:rgb(194, 106, 44)'>
        </i>
        <div class="ContactUs-content">
          <!-- <h3>56789</h3> -->
        </div>
        </div>
      <div style="width:35%;"></div>
      <div class="Logo"><a  style="color:rgb(194, 106, 44);text-decoration: none;" routerLink=''>TECHBOOK</a></div>
      <div style="width:30%"></div>

      <div *ngIf="loggedIn()" class="welcomeuser-dropdown" >
        <button class="dropdown-btn">Welcome {{username}} </button>
        <div class="welcome-user-content">
          <a class="logout-btn" routerLink="/dashboard">My Articles</a>
          <a class="logout-btn" (click)="logoutUser()">Logout</a>
          
      </div>
      </div>
      <div *ngIf="!loggedIn()" class="welcomeuser-dropdown-notloggedin">
        <a class="dropdown-btn" routerLink="/login">Login </a>
        </div>
    </div>
     <div style="border-bottom: 2px solid rgb(211, 102, 59);"></div> 
  <div class="container">

    <div class="sidebar"></div>
    <!-- <nav>
  
<div class="navbar"> 
  

  <a class="nav-item nav-link" routerLink='' ></a>  
  

  <a class="nav-item nav-link" routerLink="/dashboard" style="font-family: cursive;font-weight: bolder; font-size: 20px;"  (click) = "openDialog()">Dashboard</a>
  <a class="nav-item nav-link" routerLink="/moviecrud" style="font-family: cursive;font-weight: bolder;font-size: 20px;">ContactUs</a>
  <a *ngIf ="!loggedIn()" class="nav-item nav-link" routerLink="/login" style="font-family: cursive;font-weight: bolder;font-size: 20px;"  >Login</a>
  <a class="nav-item nav-link" routerLink="/moviecrud" style="font-family: cursive;font-weight: bolder;font-size: 20px;" (click)=logoutUser()>LogOut</a>
  <a  *ngIf="loggedIn()" class="nav-item nav-link" style="font-family: cursive;font-weight: bolder;font-size: 20px;" >{{username}}</a>
</div>
</nav> -->



  <!-- main content container-->
  <!-- <div class="jumbotron" > -->
    <div > 
     
      <!-- <div class = "vontainer" style="width:50%;border-right: 10px solid black;">HI</div>
      <div class = "vontainer" >HII</div> -->
    
      <!-- <div class="row"> -->
          <!-- <div class="col-sm-8 offset-sm-2" >  -->
              <router-outlet></router-outlet>
              <!-- <router-outlet name = "testoutlet"></router-outlet>
              <router-outlet name = "sidebar"></router-outlet> -->
          <!-- </div>  -->
      <!-- </div> -->
  <!-- </div> -->
  

</div>

</div>
<!-- <div class="footer" >

  <div style="width:500px;"></div>
  <div style="padding-top: 50px;"><a routerLink='' style="margin-top: 50px;text-decoration: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contact Us</a></div>
</div> -->



</body>
<div><input type="text" class="input-field" placeholder= "Enter to chat" [(ngModel)]="querytext" name="Enter to chat"   (keyup.enter)="chatMethod($event)"></div>

</div>